<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'styles' %}active{% endif %}" href="{{ admin_base }}/express-styles">Стили</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'categories' %}active{% endif %}" href="{{ admin_base }}/express-categories">Категории</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'tags' %}active{% endif %}" href="{{ admin_base }}/express-tags">Подкатегории</a>
    </li>
</ul>
